<div>
  <h3>{{comment}}</h3>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Task</th>
      <th>Result</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{name}}</td>
      <td>{{task}}</td>
      <td>{{result}}/5</td>
      <td>{{date}}</td>
    </tr>
  </tbody>
</table>
<a href="/tasks" class="button button-outline">back to tasks</a>

